<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"">
    <title>Classificação</title>
</head>
<body>
    <div id="btn">
        <div id="su">
            <form action="/treinamento" method="POST">
                <button type="submit" name="treinar" value="Enviar">Treinar IA</button>
                
                {% if treino_ok %}

                <div id="result">
                    <p>{{ treino_ok }}</p>
                </div>

                {% elif erro_treino %}

                    <div id="error">
                        <p>{{ erro_treino }}</p>
                    </div>

                {% endif %}

            </form>

        </div>
    </div>

    <div id="corpo">
        <div id="chat">
            <h1>Classificação Especializadas</h1>
            <form id="form" action="/enviar_pdf" method="POST" enctype="multipart/form-data">
                <label for="pdf_file">Coloque arquivo PDF:</label>
                <input type="file" name="uploaded_file" accept=".pdf" required>
                <br>
                <button type="submit">Enviar</button>

                {% if classification_result %}

                <div id="result">
                    <h2>Resultado da Classificação:</h2>
                    <p>{{ classification_result }}</p>
                </div>

                {% elif error_classificacao_message %}

                    <div id="error">
                        <h2>Erro:</h2>
                        <p>{{ error_classificacao_message }}</p>
                    </div>

                {% endif %}
                
            </form>
        </div>
    </div>

    <div id="corpo">

        <div id="chat">
            <h1>Correção da Classificação</h1>
            <form id="form" action="/corrigir_pdf" method="POST" enctype="multipart/form-data">
                <label for="correcao_file">Coloque arquivo PDF:</label>
                <input type="file" name="correcao_file" accept=".pdf" required>
                <br>
                 <label for="pergunta">Coloque a especializada correta:</label>
                 <input type="text"  id="especializada" name="especializada" required>
                <br>
                <button type="submit">Enviar</button>

                {% if correcao_ok %}

                    <div id="result">
                        <h2>Classificação Corrigida:</h2>
                        <p>{{ correcao_ok }}</p>
                    </div>

                {% elif error_correcao_message %}   

                    <div id="error">
                        <h2>Erro:</h2>
                        <p>{{ error_correcao_message }}</p>
                    </div>

                {% endif %}        



            </form>
        </div>

    </div>

    <footer>Desenvolvido Pela Coordenadoria de Tecnologia da PGM - CTEC</footer>
</body>
</html>
